/* header section style */
.header{
    background-image: url(images/banner/banner1.png);
    background-repeat: none;
    background-size: 1600px 1000px;
    text-align: right;
    padding: 290px 307px;
    
    
}

.block1{
    margin-left: 500px;
    
}
.header-tittle{
    font-size: 50px;
}

.btn1{
    background-color: #f87159;
    color: white;
    border: none;
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
}
.header-subtittle{
    color: grey;
}


/* body section part1 */
.d{
    color: rgb(29, 224, 29);
}
.person{
    display: flex;
}
.text{
    margin-top: 200px ;
    margin-right: 400px;
    margin-left: 200px;
}
.text-tittle{
    font-size: 35px;
}
.tik{
    margin-left: -50px;
    list-style: none;
}

/* my plan section  */
.my-plan{
    margin: 120px 300px;
}
.my-plan1{
    padding: 0px 380px;
    font-size: 30px;
}
.skill{
    display: flex;
    justify-content: space-between;
    margin: ;
}
